# import libraries

In [40]:
import pandas as pd

In [41]:
#load dataset
df = pd.read_csv("Sarcasm.csv")
# df.head()
#fetch only needed columns
df = df[['tweet','sarcastic']]
df.head()

                                               tweet  sarcastic
0  The only thing I got from college is a caffein...          1
1  I love it when professors draw a big question ...          1
2  Remember the hundred emails from companies whe...          1
3  Today my pop-pop told me I was not “forced” to...          1
4  @VolphanCarol @littlewhitty @mysticalmanatee I...          1

In [42]:
#check if 'tweet' columns contain any missing vlaues/null values
df.isnull().sum()

tweet        1
sarcastic    0
dtype: int64

In [43]:
#Note: tweet has missing columns hence it is 1
df.dropna(inplace=True)

In [44]:
df.isnull().sum()

tweet        0
sarcastic    0
dtype: int64

# To Check if our dataset is balance or imbalance

In [35]:
df['sarcastic'].value_counts()

sarcastic
0    2600
1     867
Name: count, dtype: int64

In [8]:
#Note we can see our dataset is imbalanced

# RandomOverSampler

In [15]:
from imblearn.over_sampling import RandomOverSampler

ros = RandomOverSampler()
# X = df['tweet'].values #Note it will we in 1D, we need to have 2D
X = df['tweet'].values.reshape(-1,1)
y = df['sarcastic']


X_balanced,y_balanced = ros.fit_resample(X,y)
df= pd.DataFrame({'tweet':X_balanced.flatten(), 'sarcastic':y_balanced})

In [17]:
df['sarcastic'].value_counts()

sarcastic
1    2600
0    2600
Name: count, dtype: int64

# RandomUnderSampler

In [36]:
from imblearn.over_sampling import RandomUnderSampler
rus = RandomUnderSampler()

X= df['tweet'].values.reshape(-1,1)
y = df['sarcastic']

X_balanced,y_balanced = rus.fit_resample(X,y)
df = pd.DataFrame({'tweet':X_balanced.flatten(), 'sarcastic':y_balanced})
df.head()

                                               tweet  sarcastic
0  @dunkindonuts @hannahebridges this is iconic h...          0
1  I think this is growing up...I never watch vh1...          0
2      I need my back and neck cracked differentlyyy          0
3  Christmas sucked. Didn't get the heelys I want...          0
4  Suddenly working 7 days a week, thought I coul...          0

In [37]:
df['sarcastic'].value_counts()

sarcastic
0    867
1    867
Name: count, dtype: int64