# IMPORT LIBRARIES

In [35]:
import pandas as pd
df = pd.read_csv("Sarcasm.csv")
df = df[['tweet','sarcastic']]
df.head()

                                               tweet  sarcastic
0  The only thing I got from college is a caffein...          1
1  I love it when professors draw a big question ...          1
2  Remember the hundred emails from companies whe...          1
3  Today my pop-pop told me I was not “forced” to...          1
4  @VolphanCarol @littlewhitty @mysticalmanatee I...          1

In [36]:
# To check if any row is missing or having null value
df.isnull().sum()

tweet        1
sarcastic    0
dtype: int64

In [37]:
#To remove null values
df.dropna(inplace=True)

In [38]:
df.isnull().sum()

tweet        0
sarcastic    0
dtype: int64

In [39]:
#To check our dataset is balance or imbalance
df['sarcastic'].value_counts()

sarcastic
0    2600
1     867
Name: count, dtype: int64

In [40]:
#pip install imblearn
from imblearn.over_sampling import RandomOverSampler

ros = RandomOverSampler()

X = df['tweet'].values.reshape(-1,1)
y = df['sarcastic']

X_balanced,y_balanced = ros.fit_resample(X,y)
df = pd.DataFrame({'tweet':X_balanced.flatten(), 'sarcastic':y_balanced})

In [41]:
df.head()

                                               tweet  sarcastic
0  The only thing I got from college is a caffein...          1
1  I love it when professors draw a big question ...          1
2  Remember the hundred emails from companies whe...          1
3  Today my pop-pop told me I was not “forced” to...          1
4  @VolphanCarol @littlewhitty @mysticalmanatee I...          1

In [42]:
df['sarcastic'].value_counts()

sarcastic
1    2600
0    2600
Name: count, dtype: int64

# CountVectorizer

In [44]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
X = cv.fit_transform(df['tweet'])
X.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], shape=(5200, 10454))

In [45]:
cv.get_feature_names_out()

array(['00', '000', '04', ..., 'zumba', 'zutekh', 'zywia0ex4u'],
      shape=(10454,), dtype=object)